# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Apple stuff
*.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
package-lock.json

# Translations
*.mo
*.pot

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
node_modules

# Test.ai
install_logs.log
build_db.json
config.json
walkthrough.json
/config